:root {
	--bg-color: #223040;
	--text-color: #eeeeee;
	--link-color: #ff6600;
	--link-hover-color: #aa4400;
	--bg2-color: #223355;
}
* {
	color: var(--text-color);
}
body {
	background-color: var(--bg-color);
}
.separator {
	box-sizing: border-box;
}

.container {
	max-width: 48rem;
	margin-left: auto;
	margin-right: auto;
	color: var(--link-color);
}

/* NAV STYLES */
nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

nav ul {
	list-style: none;
	padding: 0;
	display: flex;
}

nav li {
	margin: 0 10px;
}

nav a {
	color: var(--text-color);
	text-decoration: none;
}
nav a:hover {
	color: var(--link-hover-color);
}

@media screen and (max-width: 768px) {
	nav {
		flex-direction: column;
	}
	nav ul {
		flex-direction: column;
		text-align: center;
	}

	nav li {
		margin: 5px 0;
	}
}

.main {
	padding-left: 1rem;
	padding-right: 1rem;
}
.title {
	text-align: center;
}
.logo {
	font-size: 1.5rem;
	font-weight: 800;
}
a {
	color: var(--link-color);
	text-decoration: none;
}
a:hover {
	text-decoration: none;
	color: var(--link-hover-color);
}
p {
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
	line-height: 1.5;
}
em {
	color: var(--link-color);
}
h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(--text-color);
}
h1 {
	margin-top: 2rem;
	margin-bottom: 2rem;
	font-size: 3rem;
}
h2 {
	font-size: 1.5rem;
}
h3 {
	font-size: 1.25rem;
}

article > ul {
	list-style-type: none;
	padding: 0;
}
article > ol {
	line-height: 1.5;
}

article > ul > li {
	position: relative;
	padding-left: 20px;
	line-height: 1.5;
}

article > ul > li::before {
	content: "•";
	position: absolute;
	left: 0;
	color: var(--link-color);
}

article > p > a {
	text-decoration: underline;
}
article > * > img,
article > img {
	display: block;
	max-width: 32rem;
	width: 40vw;
	height: auto;
	margin: 0 auto;
	margin-top: 1rem;
	margin-bottom: 1rem;
	border: 1px solid var(--link-hover-color);
	border-radius: 12px;
}

/* TABLE STYLES */
table {
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 20px;
	display: inline-block;
	overflow: auto;
	margin: auto;
}

th {
	background-color: var(--bg2-color);
	font-weight: bold;
	padding: 10px;
	border: 1px solid var(--link-hover-color);
}

td {
	padding: 10px;
	text-align: left;
	border: 1px solid var(--link-hover-color);
}

tr:nth-child(even) {
	background-color: var(--bg2-color);
}

/* FONT AWESOME STYLES */

.fa {
	padding: 10px;
	font-size: xx-large;
	width: xx-large;
	text-align: center;
	text-decoration: none;
	border-radius: 50%;
}

.fa:hover {
	color: var(--link-hover-color);
}
/* CODE STYLES*/
pre {
	background-color: var(--bg2-color);
	font-family: monospace;
	padding: 0.5rem;
	overflow-x: scroll;
}
figure {
	margin: 0;
}

footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 2rem;
	padding-bottom: 0;
	margin-bottom: 0;
}
footer .social a {
	padding-left: 0.5rem;
}

/* PAGINATION STYLES */

.pagination {
	display: flex;
	justify-content: center;
}
.pagination a {
	padding-left: 0.2rem;
	padding-right: 0.2rem;
}
.pagination a i {
	color: var(--link-color);
}
.pagination .disabled {
	pointer-events: none;
	cursor: default;
	color: var(--link-hover-color);
}
