<!DOCTYPE html>
<html lang="es">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link
			href="https://fonts.googleapis.com/css?family=Noto+Serif"
			rel="stylesheet"
		/>

		<link rel="stylesheet" href="/assets/css/blog.css" />
		<link rel="stylesheet" href="/assets/css/rouge.base16.monokai.dark.css" />
		{% feed_meta %} {% seo %}
		<title>{{ page.title }}</title>
	</head>
	<body>
		<div class="container">
			{% include nav.html %}
			{{ content }}
			{% include footer.html %}
		</div>
		<script src="https://kit.fontawesome.com/01d28a2163.js" crossorigin="anonymous"></script>
	</body>
</html>
